<!DOCTYPE HTML>
<html>
<head>
<link type="text/css" rel="stylesheet" href="main.css">
<style type="text/css">
	.bookDesc {text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
	.bookItem {}
	.bookItem:hover {cursor: pointer; background: #eee;}
	.shoppingCart {position: fixed; top: 60px; right: 0; width:400px;}
</style>
<div class="container">
	<h1 class="mt_10 mb_20">Angular bookstore Demo</h1>
	<div>
		<p class="mt_10 center">
			<input type="text" class="sarchipt searchtxt34 t400" placeholder="输入任何搜索条件">
		</p>
		<ul class="lineH180 mt_20">
			<li class="clearfix line bookItem pd_6" style="width: 735px;">
				<div class="left w200">
					<img style="max-width: 160px;" src="images/精通css高级web解决方案.jpg">
				</div>
				<div class="left bookInfo pd_10 w500">
					<p class="f14 bold">
						<a href="#/detail/3">精通CSS:高级Web标准解决方案</a>
					</p>
					<p class="mt_10">
						<span>原价：<span class="grey999" style="text-decoration: line-through">¥49.00</span></span>
						<span class="ml_20">现价：<span class="green f14 bold">¥31.24</span></span>
						<span class="ml_20">为您节省：<span class="org">¥17.76（6.4折）</span></span>
					</p>
					<p title="巴德(Andy Budd)、 科利森(Simon Collison)、莫尔(Cameron Moll)、陈剑瓯" class="bg_yellow">作者：巴德(Andy Budd)、 科利森(SimonCollison)...
					</p>
					<p>出版社：人民邮电出版社</p>
					<p>出版时间：2010-05-01</p>
					<p class="bookDesc"
						title="《精通CSS·高级Web标准解决方案》：Amazon第一css畅销书全新改版，令人叫绝的CSS技术汇总，涵盖css和HTML 5。">描述：《精通CSS·高级Web标准解决方案》：Amazon第一css畅销书全新改版，令人叫绝的CSS技术汇总，涵盖css和HTML
						5。
					</p>
					<p class="mt_15">
						<a href="javascript:;" class="btn-small btn-silver in_block" onclick="showPopupDiv($('#editBookLayer'))">编辑</a>
						<a href="javascript:;" class="btn-small btn-silver in_block">删除</a>
						<a href="javascript:;" class="btn-small btn-green in_block ml_20"> + 添加到购物车</a>
					</p>
				</div>
			</li>
			<li class="clearfix line bookItem pd_6" style="width: 735px;">
				<div class="left w200">
					<img style="max-width: 160px;" src="images/css彻底研究.jpg">
				</div>
				<div class="left bookInfo pd_10 w500">
					<p class="f14 bold">
						<a href="#/detail/4">CSS设计彻底研究</a>
					</p>
					<p class="mt_10">
						<span>原价：<span class="grey999"
							style="text-decoration: line-through">¥69.00</span></span> <span
							class="ml_20">现价：<span class="green f14 bold">¥43.99</span></span>
						<span class="ml_20">为您节省：<span class="org">¥25.01（6.4折）</span></span>
					</p>
					<p title="温谦">作者：温谦</p>
					<p>出版社：人民邮电出版社</p>
					<p>出版时间：2008-02-01</p>
					<p class="bookDesc"
						title="《CSS设计彻底研究》详细介绍了CSS核心基础、盒子模型等知识，力求把道理和方法讲清楚，采用了“探索式”的讲解方法，对于一个问题，例如标准流、浮动、定位等规律，均通过一系列动手实验，使读者自己就能够非常自然地得出结论，使读者不但知其然，而且还知其所以然。">描述：《CSS设计彻底研究》详细介绍了CSS核心基础、盒子模型等知识，力求把道理和方法讲清楚，采用了“探索式”的讲解方法，对于一个问题，例如标准流、浮动、定位等规律，均通过一系列动手实验，使读者自己就能够非常自然地得出结论，使读者不但知其然，而且还知其所以然。</p>

					<p class="mt_15">
						<a href="javascript:;" class="btn-small btn-silver in_block"
							ng-click="editBook($index)">编辑</a> <a href="javascript:;"
							class="btn-small btn-silver in_block"
							ng-click="deleteBook($index)">删除</a> <a href="javascript:;"
							class="btn-small btn-green in_block ml_20"
							ng-click="addToCart(book)"> + 添加到购物车</a>
					</p>
				</div>
			</li>
			<li
				class="clearfix line bookItem pd_6" style="width: 735px;">
				<div class="left w200">
					<img style="max-width: 160px;" src="images/javascript高级程序设计.jpg">
				</div>
				<div class="left bookInfo pd_10 w500">
					<p class="f14 bold">
						<a href="#/detail/5">JavaScript高级程序设计</a>
					</p>
					<p class="mt_10">
						<span>原价：<span class="grey999"
							style="text-decoration: line-through">¥99.00</span></span> <span
							class="ml_20">现价：<span class="green f14 bold">¥75.74</span></span>
						<span class="ml_20">为您节省：<span class="org">¥23.26（7.7折）</span></span>
					</p>
					<p title="泽卡斯（Zakas. Nicholas C.）、李松峰、曹力"
						class="bg_yellow">作者：泽卡斯（Zakas. Nicholas C.）、李松峰...</p>
					<p>出版社：人民邮电出版社</p>
					<p>出版时间：2013-05-01</p>
					<p class="bookDesc"
						title="《JavaScript高级程序设计(第3版)》是JavaScript超级畅销书的最新版。ECMAScript 5和HTML5在标准之争中双双胜出，使大量专有实现和客户端扩展正式进入规范，同时也为JavaScript增添了很多适应未来发展的新特性。《JavaScript高级程序设计(第3版)》这一版除增加5章全新内容外，其他章节也有较大幅度的增补和修订，新内容篇幅约占三分之一。全书从JavaScript语言实现的各个组成部分——语言核心、DOM、BOM、事件模型讲起，深入浅出地探讨了面向对象编程、Ajax与Comet服务器端通信，HTML5表单、媒体、Canvas（包括WebGL）及Web Workers、地理定位、跨文档传递消息、客户端存储（包括IndexedDB）等新API，还介绍了离线应用和与维护、性能、部署相关的最佳开发实践。《JavaScript高级程序设计(第3版)》附录展望了未来的API和ECMAScript Harmony规范。">描述：《JavaScript高级程序设计(第3版)》是JavaScript超级畅销书的最新版。ECMAScript
						5和HTML5在标准之争中双双胜出，使大量专有实现和客户端扩展正式进入规范，同时也为JavaScript增添了很多适应未来发展的新特性。《JavaScript高级程序设计(第3版)》这一版除增加5章全新内容外，其他章节也有较大幅度的增补和修订，新内容篇幅约占三分之一。全书从JavaScript语言实现的各个组成部分——语言核心、DOM、BOM、事件模型讲起，深入浅出地探讨了面向对象编程、Ajax与Comet服务器端通信，HTML5表单、媒体、Canvas（包括WebGL）及Web
						Workers、地理定位、跨文档传递消息、客户端存储（包括IndexedDB）等新API，还介绍了离线应用和与维护、性能、部署相关的最佳开发实践。《JavaScript高级程序设计(第3版)》附录展望了未来的API和ECMAScript
						Harmony规范。</p>

					<p class="mt_15">
						<a href="javascript:;" class="btn-small btn-silver in_block"
							ng-click="editBook($index)">编辑</a> <a href="javascript:;"
							class="btn-small btn-silver in_block"
							ng-click="deleteBook($index)">删除</a> <a href="javascript:;"
							class="btn-small btn-green in_block ml_20"
							ng-click="addToCart(book)"> + 添加到购物车</a>
					</p>
				</div>
			</li>
			<li
				class="clearfix line bookItem pd_6" style="width: 735px;">
				<div class="left w200">
					<img style="max-width: 160px;" src="images/javascript模式.jpg">
				</div>
				<div class="left bookInfo pd_10 w500">
					<p class="f14 bold">
						<a href="#/detail/6">JavaScript模式 </a>
					</p>
					<p class="mt_10">
						<span>原价：<span class="grey999"
							style="text-decoration: line-through">¥38.00</span></span> <span
							class="ml_20">现价：<span class="green f14 bold">¥29.07</span></span>
						<span class="ml_20">为您节省：<span class="org">¥8.93（7.7折）</span></span>
					</p>
					<p title="斯特凡洛夫 (Stoyan Stefanov)、陈新">作者：斯特凡洛夫
						(Stoyan Stefanov)、陈新</p>
					<p>出版社：中国电力出版社</p>
					<p>出版时间：2012-07-01</p>
					<p class="bookDesc"
						title="《JavaScript模式》将使用大量JavaScript编码模式和最佳实践来帮您回答该问题。如果您是一名有经验的开发者，正在寻找与对象、函数、继承以及其他特定语言分类，那么《JavaScript模式》中的抽象方案和代码模板将是十分理想的指南，无论您正在使用Javascript编写客户端、服务端，抑或是桌面应用程序。">描述：《JavaScript模式》将使用大量JavaScript编码模式和最佳实践来帮您回答该问题。如果您是一名有经验的开发者，正在寻找与对象、函数、继承以及其他特定语言分类，那么《JavaScript模式》中的抽象方案和代码模板将是十分理想的指南，无论您正在使用Javascript编写客户端、服务端，抑或是桌面应用程序。</p>

					<p class="mt_15">
						<a href="javascript:;" class="btn-small btn-silver in_block"
							ng-click="editBook($index)">编辑</a> <a href="javascript:;"
							class="btn-small btn-silver in_block"
							ng-click="deleteBook($index)">删除</a> <a href="javascript:;"
							class="btn-small btn-green in_block ml_20"
							ng-click="addToCart(book)"> + 添加到购物车</a>
					</p>
				</div>
			</li>
		</ul>

		<div class="popLayer bubbleBox" id="editBookLayer">
			<div class="bubbleBoxTitle clearfix">
				<h1>编辑图书</h1>
				<div class="cls">
					<a href="javascript:;" class="closePopBox xx"
						onclick="hidePopupDiv($('#editBookLayer'))"></a>
				</div>
			</div>
			<div class="bubbleBoxCon pd_20">
				<table border="0" cellpadding="0" cellspacing="0"
					class="tableFormNew mt_5">
					<tbody>
						<tr>
							<td class="tdTitle" width="60">书名：</td>
							<td width="320"><input type="text"
								class="txtNew w300"
								value="精通CSS:高级Web标准解决方案"></td>
						</tr>
						<tr>
							<td class="tdTitle">价格：</td>
							<td><input type="number" class="txtNew t50" value="49"></td>
						</tr>
						<tr>
							<td class="tdTitle">作者：</td>
							<td><input type="text"
								class="txtNew w300"
								value="巴德(Andy Budd)、 科利森(Simon Collison)、莫尔(Cameron Moll)、陈剑瓯"></td>
						</tr>
						<tr>
							<td class="tdTitle">出版社：</td>
							<td><input type="text"
								class="txtNew w200"
								value="人民邮电出版社"></td>
						</tr>
						<tr>
							<td class="tdTitle">描述：</td>
							<td><textarea class="tA w300">描述：《精通CSS·高级Web标准解决方案》：Amazon第一css畅销书全新改版，令人叫绝的CSS技术汇总，涵盖css和HTML</textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="bubbleBoxBtn">
				<a href="javascript:;"
					class="closePopBox btn-small btn-silver in_block"
					onclick="hidePopupDiv($('#editBookLayer'))">关闭</a>
				<a href="javascript:;"
					class="closePopBox btn-small btn-blue in_block"
					ng-click="comfirmEdit()">提交</a>
			</div>
		</div>
	</div>

	<!-- 购物车模块 -->
	<div class="shoppingCart">
		<a href="javascript:;"><span style="display: none;">显示</span><span>隐藏</span></a>
		<div>
			<div>
				<table cellpadding="2" class="tableListNew tableNarrow" width="400">
					<tbody>
						<tr>
							<td width="5%" class="bold">&nbsp;</td>
							<td width="30%" class="bold">书名</td>
							<td width="20%" class="bold">价格</td>
							<td width="15%" class="bold">数量</td>
							<td width="20%" class="bold">小计</td>
							<td width="10%" class="bold">操作</td>
						</tr>
						<tr>
							<td>1</td>
							<td>精通CSS</td>
							<td>¥31.24</td>
							<td><input type="number" min="1" class="t50"></td>
							<td>¥31.24</td>
							<td><a href="javascript:;">删除</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>CSS设计</td>
							<td>¥43.99</td>
							<td><input type="number" min="1" class="t50"></td>
							<td>¥43.99</td>
							<td><a href="javascript:;">删除</a></td>
						</tr>
						<tr>
							<td colspan="5" align="right">合计</td>
							<td>¥75.22</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="display: none;">
				<p class="center">您的购物车里目前还没有图书</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript"
	src="http://dui.dooioo.com/public/js/lib/jquery-1.6.2.min.js"></script>
<script type="text/javascript"
	src="http://dui.dooioo.com/public/js/fns.js"></script>
<script type="text/javascript"
	src="http://dui.dooioo.com/public/js/lib/angular.min.js"></script>
<script type="text/javascript" src="mock.js"></script>
</body>
</html>