<div class="container">
    	<h1 class="mt_10 mb_20">Angular bookstore Demo</h1>
	<div>
		<p class="mt_10 center">
			<input type="text" class="sarchipt searchtxt34 t400" placeholder="输入任何搜索条件" ng-model="query">
		</p>
		<ul class="lineH180 mt_20">
			<li ng-repeat="book in books | filter:query" class="clearfix line bookItem pd_6" style="width: 735px;">
				<div class="left w200">
					<img style="max-width: 160px;" src="images/{{book.photoPath}}">
				</div>
				<div class="left bookInfo pd_10 w500">
					<p class="f14 bold">
						<a href="#/detail/3">{{book.bookName}}</a>
					</p>
					<p class="mt_10">
						<span>原价：<span class="grey999" style="text-decoration: line-through">¥{{book.price}}</span></span>
						<span class="ml_20">现价：<span class="green f14 bold">{{book.price * 0.64  |  currency:"¥" }}</span></span>
						<span class="ml_20">为您节省：<span class="org">{{book.price*0.36 |  currency:"¥"}}  （6.4折）</span></span>
					</p>
					<p title="{{book.authors.join(',')}}" class="bg_yellow">{{book.authors.join(',')}}
					</p>
					<p>{{book.press}}</p>
					<p>{{book.pressDate}}</p>
					<p class="bookDesc"
						title="{{book.desc}}">{{book.desc}}
					</p>
					<p class="mt_15">
						<a href="javascript:;" class="btn-small btn-silver in_block" onclick="showPopupDiv($('#editBookLayer'))" ng-click="setCurrent(book)">编辑</a>
						<a href="javascript:;" class="btn-small btn-silver in_block" ng-click="deleteBook(book.ISBN)">删除</a>
						<a href="javascript:;" class="btn-small btn-green in_block ml_20" ng-click="addBookToCart(book.ISBN)"> + 添加到购物车</a>
					</p>
				</div>
			</li>

		</ul>

		<div class="popLayer bubbleBox" id="editBookLayer">
			<div class="bubbleBoxTitle clearfix">
				<h1>编辑图书</h1>
				<div class="cls">
					<a href="javascript:;" class="closePopBox xx"
						onclick="hidePopupDiv($('#editBookLayer'))"></a>
				</div>
			</div>
			<div class="bubbleBoxCon pd_20">
				<table border="0" cellpadding="0" cellspacing="0"
					class="tableFormNew mt_5">
					<tbody>
						<tr>
							<td class="tdTitle" width="60">书名：</td>
							<td width="320"><input type="text"
								class="txtNew w300"
								ng-model="current.bookName"></td>
						</tr>
						<tr>
							<td class="tdTitle">价格：</td>
							<td><input type="number" class="txtNew t50" ng-model="current.price"></td>
						</tr>
						<tr>
							<td class="tdTitle">作者：</td>
							<td><input type="text"
								class="txtNew w300"
								ng-model="current.authors"></td>
						</tr>
						<tr>
							<td class="tdTitle">出版社：</td>
							<td><input type="text"
								class="txtNew w200"
								ng-model="current.press"></td>
						</tr>
						<tr>
							<td class="tdTitle">描述：</td>
							<td><textarea class="tA w300">{{current.desc}}</textarea></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="bubbleBoxBtn">
				<a href="javascript:;"
					class="closePopBox btn-small btn-silver in_block"
					onclick="hidePopupDiv($('#editBookLayer'))">关闭</a>
				<a href="javascript:;"
					class="closePopBox btn-small btn-blue in_block"
					ng-init="updateStatus" ng-click="comfirmEdit(current)" >提交</a>
			</div>
		</div>
	</div>
	
	<div  ng-include="cart.html"></div>
	<!-- 购物车模块 -->
	<div class="shoppingCart" ng-controller="CartCtrl">
		<a href="" ng-click="toggleShow()"><span ng-hide="show">显示</span><span ng-show="show">隐藏</span></a>
		<div ng-show="show">
			<div>
				<table cellpadding="2" class="tableListNew tableNarrow" width="400">
					<tbody>
						<tr>
							<td width="5%" class="bold">&nbsp;</td>
							<td width="30%" class="bold">书名</td>
							<td width="20%" class="bold">价格</td>
							<td width="15%" class="bold">数量</td>
							<td width="20%" class="bold">小计</td>
							<td width="10%" class="bold">操作</td>
						</tr>
						<tr ng-repeat="book in $parent.cart">
							<td>{{book.ISBN}}</td>
							<td>{{book.bookName}}</td>
							<td>{{book.price*0.64  |  currency:"¥"}}</td>
							<td><input type="number" min="1" class="t50" ng-model="book.num"></td>
							<td>{{book.price*0.64*book.num  |  currency:"¥"}}</td>
							<td><a href="javascript:;" ng-click="$parent.removeBookFromCart(book.ISBN)">删除</a></td>
						</tr>
						<tr>
							<td colspan="5" align="right">合计</td>
							<td>{{ getTotal() |  currency:"¥"}} </td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-show="$parent.cart.length===0">
				<p class="center">您的购物车里目前还没有图书</p>
			</div>
		</div>
	</div>

</div>